* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x:hidden ;
}

/* .header1 {
  margin: 20px;
  margin-right: 5px;
  
}
.nav1 {
  position: relative;
  top: -80px;
  left: 700px;
}

.header-image {
  margin-right: 10px;
  margin-left: -5px;
  margin: 20px;
  

}
.header-image4 {
  margin-left: 5px;
  margin: 20px;
}
.header-image2 {
  
  margin-top: 30px;
  margin: 20px;
  margin-left: -2px;
}
.header-image3 {
  margin: 20px;
  margin-right: -5px;
  margin-left: -5px;
  
}

.nav {
  background-color: whitesmoke;
  height: 80px;
  position: fixed;
  top: 0;

  width: 100%;
  

  

  object-fit: contain;
  z-index:99;
  display: contents;
  
}
.nav-logo {
  margin: 20px;
  margin-left: 20px;
}
.cancel {
  margin-left: 1400px;
  margin-block: 30px;
  position: relative;
  top: -160px;
} */
 nav {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 1rem;
    z-index: 99;
    /* position: fixed;
    top: 0; */
 }
 /* .nav1 {
  display: flex;
  justify-items: center;
 } */
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  
  }
/* .logo-1 {
  margin-left: 10px;
  margin-top: 30px;
  
  position: relative;
  left: 300px;
  font-size: 20px;
} */

/* .logo {
  display: flex;
  align-items: center;
  justify-content: left;
  justify-content: space-between;
  background-color: white;
  margin-left: 50px;
  margin-right: 400px;

  gap: 5px;
  background-color: white;
  
  object-fit: contain;
  
  
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
 .logo {
  display: flex;
  align-items:center;
  justify-content: space-between;
  /* gap: 10px; */
  height: 150px;
  background-color: white;
  width: 100%;
  
  object-fit: contain;
  padding-inline:4rem;
  padding-block: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 40px;
  margin-bottom: -30px;
/* padding-inline: 5px; */
gap: 1rem;
 }
 .logo-1 {
margin-inline: 0.3rem;
  
 }
 .logo-2 {
 margin-right: 0.3rem;

 }
 .logo-3 {
 margin-right: 0.3rem;
  
 }
 .logo-4 {
 margin-right: 0.3rem;
  
 }
 .logo-5 {
  

 }
  .logos {
    display: flex;
    /* margin-inline: 12rem;
    
    justify-content: space-between;
    align-items: center; */
  
    }
 /* .logo-img {
  margin-left: 100px;
  justify-content: right;
 } */
  /* .logo-1 {
    padding-inline: 5px;
    
  } */
/* .section {
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/ef047784bc6a5cf2b81a76a6/robotgradientintro2.jpg);
  height: 800px;
  width: 100wh;

  
  background-repeat: no-repeat;
  text-align: end;
  color: white;
 
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
}
.sections {
  display: block;
  justify-content: center;
  align-items: center;
  
  color: white;
  position: relative;
  left: 150px;
  bottom: -10px;
  font-size: 70px;
  text-align: left;
  margin-right: 50px;
  
  z-index: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section-img {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: -70px;
  left: 40px;
  height: 150px;
  margin-left: -100px;
  z-index: 0;
  mix-blend-mode: color-dodge;
}
.p1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 4px;
  margin-block: 5rem;
} */
 .section {
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/ef047784bc6a5cf2b81a76a6/robotgradientintro2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100wh;
  background-repeat: no-repeat;
  padding-left: -1000px;
  
  
  


 }
 .sections {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -500px;
  
 }
 .section-img {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -260px;
  left: -1px;
  
  z-index: 1;
  
 }
 .human {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -200px;
  z-index: 2;
  padding-left: 30px;

 }
 
 .p1 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1px;
  padding-left: 30px;
  
 }
.section2 {
  background-color: white;
  height: 700px;
  padding-left: 100px;
  padding-top: 100px;
  width: 100%;
}
.news {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  gap: 10px;
}
.robot {
  font-size: 50px;
  color: purple;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


position: relative;
bottom: 10px;
  
}
.paragraph {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-bottom: 40px;
}
.learn {
  text-decoration: none;
  color: purple;
  border: solid 3px aqua;
  padding-inline: 20px;
  padding-block: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section2-img {
  height: 600px;
  width: 600px;
  position: relative;
  left: 800px;
  top: -730px;
  display: flex;
  justify-content: end;
  justify-items: end;
}
.section3 {
  height: 1000px;
  width: 100%;
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/386402209ab35bf6ac892d8d/bggradient.jpg);
  background-repeat: no-repeat;
}
.image-side {
  height: 500px;
  width: 500px;
  position: relative;
  left: -50px;
  top: -80px;
}
.image-middle {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: relative;
  left: 100px;
  top: -300px;
}
.image-small {
  height: 150px;
  position: relative;
  top: -300px;
}

.section3-image {
  margin-left: 120px;
  position: relative;
  top: -250px;
}
.one {
  margin-right: 10px;
}
.two {
  margin-right: 10px;
  position: relative;
  top: 100px;
}
.three {
  margin-right: 10px;
}
.four {
  margin-right: 10px;
}
.paragraph2 {
  color: white;
  position: relative;
  left: 630px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.section4 {
  height: 700px;

  width: 100%;
  background-color: white;
}
.news2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  gap: 10px;
  padding-left: 150px;
  margin-top: 80px;
  margin-bottom: 30px;
}
.robot2 {
  font-size: 70px;
  color: purple;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 150px;
  margin-top: -20px;
}
.image-side2 {
  height: 600px;
  width: 500px;
  position: relative;
  left: 1000px;
  top: -400px;
  
}

.item {
  display: inline-block;
  position: relative;
  top: -500px;
  left: -450px;
  margin: 100px;
  filter: invert(94%) sepia(26%) saturate(3139%) hue-rotate(108deg) brightness(105%) contrast(106%);


}
.item2 {
  display: inline-block;
  position: relative;
  left: 130px;
  right: -100px;
  top: -750px;
  margin: 15px;
  margin-top: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: purple;
}
.item3 {
  display: inline-block;
  position: relative;
  left: -550px;
  right: 500px;
  top: -550px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 10px;
}

.section5 {
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/3d598ab49dfc5da483778128/bggradient4.jpg);
  width: 100%;
  height: 600px;
  
}
.section5-image {
  height: 500px;
  width: 500px;
  position: relative;
  left: -50px;
  top: -80px;
}
.section5-paragraph {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  position: relative;
  left: 500px;
  top: -250px;
}
.section5-h1 {
  color: white;
  position: relative;
  left: 1250px;
  top: -220px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.section5-image2 {
  position: relative;
  top: -300px;filter: invert(82%) sepia(88%) saturate(524%) hue-rotate(2deg) brightness(109%) contrast(106%);
}
.section6 {
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/847dd8f1352e516a8fd6ecdb/bggradient3.jpg);
  width: 100%;
  height: 600px;
}
.section6-image1 {
  position: relative;
  left: 120px;
  top: -150px;
}
.section6-image2 {
  position: relative;
  left: -450px;
  top: 50px;
  z-index: 2;

  

}
.para1 {
  color: white;
  position: relative;
  left: 900px;
  top: -650px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
 
}

.para2 {
  color: white;
  position: relative;
  left: 900px;
  top: -600px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.section7 {
  width: 100%;

  background-color: rgba(255, 192, 203, 0.336);
}
.section7 {
  height: 1100px;
}
.section7-side-image {
  position: relative;
  left: 1000px;
  top: -150px;
}
.section7-h5-1 {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 200px;
  top: -500px;
}
.section7-h1 {
  font-size: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 200px;
  top: -500px;
  color: purple;
}
.section7-h5-2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: purple;
  font-size: 40px;
  position: relative;
  left: 200px;
  top: -450px;
}
.section7-p-1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  position: relative;
  left: 200px;
  top: -400px;
}
.section7-img-1 {
  position: relative;
  left: 750px;
  top: -950px;
  height: 380px;
  width: 560px;
}

.container {
  height: 200px;
  width: 370px;
  background-color: aqua;
  position: relative;
  bottom: 1400px;
  left: 930px;
}
.section7-img-2 {
  position: relative;
  left: 960px;

  height: 200px;
  bottom: 1580px;
  width: 380px;
}
.section7-p-2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  position: relative;
  left: 750px;
  bottom: 1300px;
}
.section8 {
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/3d598ab49dfc5da483778128/bggradient4.jpg);
  
  height: 500px;
  width: 100%;
}
.section8-image {
  margin-left: 120px;
  
  
}
.first {
  margin-right:15px ;
  position: relative;
  top: -400px;
}
.second {
  margin-right: 15px;
  position: relative;
  top: -200px;
}
.third {
  margin-right: 15px;
  position: relative;
  top: -300px;
}
.fourth {
  position: relative;

  top: -430px;
}
.section8-p {
  position: relative;
  left: 960px;
  top: -400px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 25px;
}
.section9 {
  background-color: #ff4892;
    width: 100%;
    height: 300px;
}
.section9-p-1 {
  position: relative;
  left: 470px;
  top: 80px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;


}
.section9-p-2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  position: relative;
  top: 80px;
  left: 590px;

}


 .icons {
  display: flex;
  position: relative;
  left: 700px;
  bottom: -100px;
  color: white;
 }
 
.icon1 {
  margin-right: 10px;
}
.icon2 {
  margin-right: 10px;
}
.icon3 {
  margin-right: 10px;
  margin-left: 10px;
}
.section10 {
  background-color: #333333;
  width:100% ;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a1 {
  font-style: italic;
  color: #e2c0ec;
  margin-right: 5px;
  border-bottom: dashed 2px;
  padding-bottom: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}
.section10-p {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.a2 {
  font-style: italic;
  color: #e2c0ec;
  margin-left: 5px;
  border-bottom: 2px dashed;
  padding-bottom: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.a1:hover {
  color:#ffffff ;
}
.a2:hover {
  color: #ffffff;
}
.container2 {
  height:200px;
  width: 60px;
  background-color: aqua;
  position: relative;
  top: -200px;
  left: 260px;
  z-index: 0;
  
}
 
  
   
.container3 {
  height:20px;
  width: 420px;
  background-color: aqua;
  position: relative;
  top: -560px;
  left: 910px;
   

  }
  .container4 {
    height:20px;
  width: 322px;
  background-color: aqua;
  position: relative;
  bottom: -58px;
  left: 2px;



  }
  body {
  line-height: 1;
  
  }
  @media screen and (max-width:600px) { 
    .nav {
      /* display: flex; */

    }
    .logo {
      /* flex-direction: column; */
      /* flex-direction: unset; */
   
      
      
    }
    .section {
      /* flex-direction: column; */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      /* width: 100%; */
      
      /* background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/ef047784bc6a5cf2b81a76a6/robotgradientintro2.jpg); */
      /* position: relative;
      top: -270px;
      margin: 0;
      padding: 0; */
      
/*     
    }
    .sections {
      height: 400px;
      width: 80%;
    }
    .section-img {
      height: 20%;
      width: 30%;
      position: absolute;
      top: 70px;
    }
    .human {
      height: 400px;
      width: 80%;
      position: absolute;
      top: 10px;
      
  
    }
    .p1 {
      p

    } */
    

    
  }
